*{
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
}

.hidden {
  display: none;
}

.content{
  background-color: #fefefe;
  padding: 0 10px;
}

#data-error{
  padding: 10px;
  text-align-last: center;
}

#gpa{
  color: orangered;
}

#cgpa{
  color: darkslateblue;
}

.header {
  background-color: #30505c;
  padding: 10px 5px;
  color: white;
  border-radius: 0 0 10px 10px;
}
